

.main-wrapper {
  width: 100%;
  margin: auto;
  position: absolute;
}

.nav-wrapper {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: 80px;
  display: inline-block;
  overflow: hidden;
}

/* mobile bar view */
.mobile-nav {
  width: 100%;
  height: 80px;
  display: none;
}
/* mobile view */


  /* menu icon styles */
  
  /* style for each bar */ 

.responsive-menu-icon-line {
  width: 30px;
  height: 4px;
  background-color: #00ddff;
  margin: 5px;
  border-radius: 2px;
  
   /* this determines animation speed */
  transition: all .3s ease;
}


/* classes to add for each animation */ 

.rotate-down {
  margin-bottom: -10px;
   -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.rotate-up {
  margin-top: -8px;
  -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.disappear {
  opacity: 0;
}

/* grouping div for all bars */
.responsive-menu-icon {
  width: 60px;
  padding: 3px;
  margin-left: 85%;
  /* this determines animation speed */
  margin-top: 20px;
  transition: all .3s ease;
}

/* animation class to keep icon in similar place after animations */
.menu-up {
  padding-top: 15px;
}


@media (max-width: 800px) {

	.main-wrapper {
		background-color: rgba(255, 255, 255, 1);
	}

	#logo a {
		color: #00ddff;
	}
  
  .mobile-nav {
    display: block;
  }
  

  .nav ul li {
	  display: block;
	  width: 100%;
	  text-align: right;
   }

 	.nav ul li a {
 		font-weight: 500;
 		color: #00ddff
 	}

 	.nav a:hover {
 		color: #00B1CC
 	}
  
   .nav ul  {

	}
  
  .nav-wrapper {
    height: 80px;
    overflow: hidden;
  }
 
  .nav {
    width: 200px;
    margin: auto;
    padding-right: 50px;
  }
  
  .mobile-wrapper {
    display: block;
}

/* end of responsive style */
}


@media only screen and (max-width: 1023px) {

	.terms p {
		line-height: 32px;
		margin-top: 8px;
	}

	.terms {
		height: 100px;
	}

	.modal-content {
		width: 80%;
	}

	.rect-2 {
		width: 250px;
		height: 279px;
		top: -40px;
	}
}


@media screen and (max-width: 639px) {

	.modal-content {
		width: 80%;
		height: 90%;
	}

	#wrapper-landing {
		background-position: -70% 0px;
	}

	.three p {
		margin-bottom: 50px;
		margin-top: 0px;
	}

	.terms {
		height: 140px;
		margin-left: 40px;
	}

	.terms p {
		line-height: 32px;
		margin-top: 8px;
	}

	.btn-1 input {
		display: block;
		margin: auto;
	}

	.bg-4 {
		height: 750px;
	}

	.rect-2 {
		width: 320px;
		height: 353px;
		top: -40px;
	}

	.landing-3 {
		position: relative;
		top: -50px;
	}

}

}
