
body {
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body p, body span {
    font-size: 20px;
    color: #5D5D5D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

li {
    font-size: 18px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 1%;
    text-align: left;
    text-decoration: none;
    list-style: none;
    padding-left: 5%;
    padding-right: 15%;
}

.modal-content li {
    font-size: 14px;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 1%;
    text-align: left;
    text-decoration: none;
    text-decoration-style: inherit;
    list-style: inherit;
}

.modal-content p {
    font-size: 14px;
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 1%;
    text-align: left;
    text-decoration: none;
    text-decoration-style: inherit;
    list-style: inherit;
}

/*NAV BAR*/

.nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #00B1CC;
    text-decoration: none;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#logo {
    position: relative;
    height: 80px;
    width: 160px;
    display: inline-block;
    float: left;
}

#logo a {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #00DDFF;
    text-decoration: none;
    line-height: 80px;
}

.nav {
    text-align: right;
    position: relative;
    height: 80px;
    float: right;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0% 8px;
    position: relative;
    line-height: 80px;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav a {
    line-height: 80px;
}

.nav a:hover {
    color: #00DDFF;
}

/*END NAV*/

[aos="fade-up"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade-up"].aos-animate {
  opacity: 1;
}

#landing-bg {
/*  background: linear-gradient(rgba(36, 39, 41, 0.85), rgba(0, 218, 252, 0.8));*/
background: rgba(0,0,0,.3),; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,0), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,0), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,0,0), white); /* Standard syntax */
}

#landing-bg-2 {
  background: rgba(0,0,0,.1),; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, rgba(0,0,0,0)); /* Standard syntax */
}

.landing-text {
  margin-top: 150px;
}

.landing-text p {
    color: white;
    font-size: 40px;
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 300;
}

.landing-text span {
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0 45px;
    text-align: center;
    font-weight: 400;
}

#wrapper-landing {
    background-image: url(../images/bg-paper-1.png);
    background-size: cover;
}

.button-home-wrapper {
    margin-top: 0px;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 200px;
}

.button-home {
    background-color: #232628;
    border-radius: 3px;
    padding: 15px 40px;
    text-align: center;
    border-width: 2px;
    opacity: 0.9
}

.button-home-wrapper a {
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.button-home-wrapper a:hover {
    background-color: white;
    color: #232628;
}

.button-home-wrapper-2 {
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    float: left;
}

.button-home-2 {
    border-color: #00ddff;
    border-width: 2px;
    border-radius: 3px;
    padding: 15px 40px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    background-color: #00ddff;
}

.button-home-wrapper-2 a {
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.button-home-wrapper-2 a:hover {
    color: #00ddff;
    border-width: 2px;
    border-style: solid;
    border-color: #00ddff;
    background-color: white;
}

.three a {
  text-decoration: underline;
  color: inherit;
  font-weight: inherit;
}

.landing-1 p {
  margin-top: 70px;
  font-size: 27px;
  color: #222;
  margin-bottom: 40px;
  font-weight: 300;
  margin-bottom: 70px;
}

.landing-2 p {
  margin-top: 150px;
  font-size: 40px;
  color: #222;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.three img {
    display: block;
    margin: auto;
    height: 40px;
    vertical-align: top;
}

.circle {
  background-color: white;
  border: 2px solid #00DDFF;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: auto;
  display: block;
}

.desc img {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 20px;
}

.desc p {
  font-size: 18px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-weight: 200;
  color: #333;
}

h2 {
  font-size: 24px;
  color: #00ddff;
  line-height: 30px;
  margin: 0;
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
}

h4 {
  font-size: 20px;
  color: #222;
  display: inline-block;
  float: left;
  font-weight: 300;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  padding-right: 20px;
}

h5 {
  font-size: 22px;
  color: #222;
  display: inline-block;
  float: left;
  margin: 0;
  font-weight: 300;
  line-height: 30px;
}

.button-home-wrapper-3 {
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    float: left;
}

.button-home-3 {
    border-color: #00ddff;
    border-width: 2px;
    border-radius: 3px;
    padding: 15px 40px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    background-color: #00ddff;
}

.button-home-wrapper-3 a {
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.button-home-wrapper-3 a:hover {
    color: #00ddff;
    border-width: 2px;
    border-style: solid;
    border-color: #00ddff;
    background-color: white;
}

#apply {
  padding-top: 40px;
/*  background-color: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, .1);
  border-radius: 3px;*/
}

.desc span {
  font-size: 34px;
  color: #333;
}

.desc-2 p {
  display: block;
  font-size: 18px;
  color: #333;
  font-weight: 200;
  margin-top: 40px;
}

.bg-2 {
  background-color: white;
  position: relative;
  top: -70px;
  border-radius: 3px;
}

.bg-1 {
  background-color: #f7f8f9;
  padding-bottom: 80px;
}

.portal {
  padding-right: 0;
}

.portal p {
  color: #2e2e2e;
  font-size: 16px;
  margin-top: 0;
}

.form, .form-1 {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 50px;
  background-color: white;
  padding: 30px;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, .1);
}

.form label, .form-1 label {
  font-size: 14px;
  color: #5D5D5D;
}

.form input, .form textarea, .form-2 input {
  border-color: #00DDFF;
}

.form-1 textarea {
    height: 120px;
}

.form p {
  font-size: 13px;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  top: -42px;
  padding-left: 35px;
}

.form a {
  font-size: 13px;
  margin-top: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  position: relative;

}

.form-2 {
  margin-top: 20px;
  margin-left: 110px;
}

select {
  font-size: 108%;
  height: 40px;
  border: 1px solid #00DDFF;
  webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.money {
    display:inline-block;
    border:1px solid #00DDFF;
  -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    margin-left: 0px;
}

.money input {
    display: inherit;
}

.money input:focus {
    display: inherit;
    border: none;
    background-color: white;
    box-shadow: none;
    transition: none;
}

.money > div {
    display:inline-block;
    padding:8px 8px 8px 8px;
    font-size:14px;
    cursor:text;
    color:#666;
/*     pointer-events: none; */
}

.money > input {
    width:100px;
    border:0;
    padding:8px 4px 8px 8px;
    margin:0;
    font-size:14px;
    color:#666;
    cursor:text;
    text-align:left;
    outline:none;
    background-color: white;
    box-shadow: none;
}

.money > input::-ms-clear{
    display: none;
}

.checkboxFive-1 input {
  display: none;
}

.checkboxFive {
  width: 20px;
  margin: 0;
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 2px;
  z-index: 10;
}

.checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -1;
  background: #fff;
  border:1px solid #00DDFF;
  border-radius: 3px;
  z-index: 10;
}

.checkboxFive label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 6px;
  background: transparent;
  top: 6px;
  left: 3px;
  border: 3px solid #00DDFF;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.checkboxFive label:hover::after {
  opacity: 0.6;
}

.checkboxFive input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.checkboxFive-1 {
  width: 20px;
  margin: 0;
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 2px;
  z-index: 10;
}

.checkboxFive-1 label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -5;
  background: #fff;
  border:1px solid #00DDFF;
  border-radius: 3px;
}

.checkboxFive-1 label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 6px;
  background: transparent;
  top: 6px;
  left: 3px;
  border: 3px solid #00DDFF;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.two-col p {
  position: relative;
  top: 9;
  left: -5;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #444;
}

.checkboxFive-1 label:hover::after {
  opacity: 0.6;
}

.checkboxFive-1 input[type=checkbox]:checked + label:after {
  opacity: 1;
}

#up {
  position: relative;
  top: -20px;
}

[type='checkbox'], .terms label, .full-width label {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.full-width {
  width: 100%;
  height: 50px;
  top: -8;
  left: 5;
  position: relative;
}

.two-col {
  width: 50%;
  display: inline-block;
  float: left;
}

#onclick-1 {
  position: relative;
}

.full-width input[type="checkbox"] {

}

.terms label {
  font-size: 15px;
  color: #5D5D5D;
  display: inline-block;
  line-height: 50px;
  cursor: inherit;
}

.terms {
  height: 50px;
}

.checkboxFive {
  display: inline-block;
}

.terms a {
  text-decoration: underline;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.submit {
  margin-top: 20px;
}

.btn-1 input {
    background-color: #00DDFF;
    border-radius: 3px;
    padding: 15px 40px;
    text-align: center;
    border: none;
    opacity: .4;
    font-size: 16px;
    color: white;
    font-weight: 500;
    box-shadow: none;
    text-decoration: none;
    position: relative;
    top: -35;
    cursor: pointer;
}

.btn-3 input {
    font-size: 14px;
    color: #00DDFF;
    font-weight: 400;
    box-shadow: none;
    text-decoration: none;
    background-color: white;
    border: none;
    text-shadow: none;
}

.btn-3 input.active {
    font-size: 15px;
    color: #00DDFF;
    font-weight: 400;
    box-shadow: none;
    text-decoration: none;
    background-color: white;
    border: none;
    text-shadow: none;
}

#practice {
  position: relative;
  top: 10px;
}

.problem {
  padding-bottom: 30px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #333647;
}

.footer ul {
  text-align: center;
  padding: 0;
}

.footer a {
  display: inline-block;
  padding: 0 8px;
  font-size: 13px;
  color: #fafafa;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    line-height: 80px;
    text-align: center;
}

.dollar {
  display: inline-block;
  width: 10px;
  float: left;
  position: relative;
  top: 12px;
  left: -15px;
  color: #5D5D5D
}

h3 {
  font-weight: 400;
  color: #333;
  font-size: 15px;
}

.modal p {
  font-weight: 300;
  font-size: 14px;
}

#duplicater0 select {
  margin-bottom: 5px;
}

body.noscroll { overflow: hidden; }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition:         opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition:    opacity 0.3s ease-in;
    -o-transition:      opacity 0.3s ease-in; 
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 50%;
    transition: all 5s ease-in-out;
    z-index: 1000;
    position: relative;
    overflow-y: auto;
    height: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}







}






